* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

ul {
  list-style: none;
}


.appear-here {
  text-align: center;
  margin: 5rem 0;
}

.my-resume {
  margin: 0 3.35rem;
}

.sidebar ul li a {
  display: inline-block;
  margin: 5px;
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  color: #000;
  position: relative;
  z-index: 1;
}

.sidebar ul li a.selected {
  color: #56c9aa;
}

.sidebar ul li a:hover {
  color: #56c9aa;
}



.sidebar ul li a span.name {
  position: absolute;
  display: none;
  top: 15px;
  left: -100%;
  padding: 5px;
  background-color: #56c9aa;
  color: #ffffff;
  border-radius: 5px;
  white-space: nowrap;
  transition: all 0.7s ease-in-out;
}

.sidebar ul li a:hover span.name {
  display: block;
  left: 100%;
  animation: slideName 0.3s ease-in-out forwards;
}



@keyframes slideName {
  0% {
    left: 0;
  }
  100% {
    left: 92%;
  }
}




.sidebar{
  border-radius: 30px;
  margin: 4rem;
  background-color: #fff;
  box-shadow: 5px 5px 5px #999;
}

.sidebar .top{
  margin: 2rem 0;
}
.logo span {
  color: #56c9aa;
}

.format {
  display: flex;
  background-color: #FFD9C0;
  height: 100vh;
  align-items: center;
}

.sidebar h1 {
  text-align: center;
}

.section {
  width: 42%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #8CC0DE;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  overflow-y: auto;
}

.section-content {
  margin-top: 10px;
}
.side-template {
  width: 40%;
  border-radius: 23px;
  background-color: #fff;
  position: absolute;
  left: 46%;
  height: 80%;
  overflow-y: auto;

}

form img {
  display: block;
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
.details-parent form .input h3{
width: 50%;
text-align: start;
}

.input {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}




.input input {
  width: 250px;
  height: 50px;
  margin-left: 20px;
  border-radius: 10px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

.experience .input{
  flex-direction: column;
}



.remove:hover {
  color: #000;
}


.remove {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  color: #999;
  transition: color 0.3s ease;
}




.details-parent.input:first-of-type {
  flex-direction: column;
}



.start{
  background-color: #000;
  height: 100vh;
  color: #fff;
}
.start a {
  color: #56c9aa;
  text-decoration: none;
}
.create{
 padding: 2rem;
}
.create-new {
  text-align: center;
  border: 1px solid #c5c1c1;
  padding: 1rem;
  width: 150px;
  height: 150px;
}

.plus {
  margin: 2rem;
}

.top a {
  color: black;
  
  border-radius: 50%;
}

.anchors {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.anchors a {
  text-decoration: none;
  color: #56c9aa;
  padding: 0.5rem;
  background-color: #000;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.anchors a:hover {
  background-color: #fff;
}

.details {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.details .image {
  width: 120px;
  height: 120px;
  margin: 0.5rem;
}

.image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

#image-input{
  flex-direction: column;
}

.content {
  display: flex;
  width: 90%;
  height: 80%;
  
}
.gap{
  margin-bottom: 10px;
}




