.register {
    background: url(../assets/images/bg.png) no-repeat fixed center / cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-selector {
    background-color: #fff;
    width: 400px;
    padding: 2px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-selector a {
    display: inline-block;
    width: 50%;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 0.75rem;
    border-radius: 15px;
    transition: background-color 0.2s ease-in-out;

}

.form-selector a:hover {
    background-color: #00C8AA;
    color: #fff;

}

header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    height: 10vh;
}

.header-list ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-list ul li a{
    color: #000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
}

.header-list .popup{
    background-color: #00C8AA;
    color: #fff;
    border-radius: 28px;
}
.form-wrapper{
    background-color: rgba(255, 255, 255, .45);
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    border-radius: 28px;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 600px;
}
.form-close{
    margin: 0.5rem 0;
}
.form-close a{
    color: #00C8AA;
}




