* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

ul {
  list-style: none;
}


.appear-here {
  text-align: center;
  margin: 5rem 0;
}

.my-resume {
  margin: 0 3.35rem;
}

.sidebar ul li a {
  display: inline-block;
  margin: 1rem;
  border-radius: 20px;
  width: 100%;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  background-color: #56c9aa;
  transition: background-color 0.3s ease;
}


.sidebar ul li a.selected {
  background-color: #fff;
  color: #000;
}

.sidebar ul li a:hover {
  background-color: #fff;
  color: #000;
}

.sidebar {
  /* border: 2px solid black; */
  width: 20%;
  height: 100vh;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #000;
}
.sidebar .top{
  margin: 2rem 0;
}
.logo span {
  color: #56c9aa;
}

.format {
  display: flex;
  /* align-items: center; */
}

.sidebar h1 {
  text-align: center;
}

.section {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid black; */
  background-color:#56c9aa ;
}

form img {
  display: block;
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
.details-parent form .input h3{
width: 50%;
}

.input {
  margin: 1rem;
  display: flex;
  align-items: center;
}

.input input {
  width: 300px;
  height: 50px;
  margin-left: 20px;
  border-radius: 10px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

.input .role {
  width: 100px;
  margin-left: 10px;
  
}
#role{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.role-input-container {
  display: flex;
  align-items: center;
  
}
.role-input-container input{
  width: 24%;
  margin: 10px;
}

.role {
  width: 80%;
  padding-right: 40px;
}


.remove:hover {
  color: #000;
}


.remove {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  color: #999;
  transition: color 0.3s ease;
}




.details-parent.input:first-of-type {
  flex-direction: column;
}

.side-template {
  /* border: 2px solid black; */
  width: 40%;
}

.start{
  background-color: #000;
  height: 100vh;
  color: #fff;
}
.start a {
  color: #56c9aa;
  text-decoration: none;
}
.create{
 padding: 2rem;
}
.create-new {
  text-align: center;
  border: 1px solid #c5c1c1;
  padding: 1rem;
  width: 150px;
  height: 150px;
}

.plus {
  margin: 2rem;
}

.top a {
  color: black;
  
  border-radius: 50%;
}

.anchors {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.anchors a {
  text-decoration: none;
  color: #56c9aa;
  padding: 0.5rem;
  background-color: #000;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.anchors a:hover {
  background-color: #fff;
}

.details {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.details .image {
  width: 120px;
  height: 120px;
  margin: 0.5rem;
}

.image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

#image-input{
  flex-direction: column;
}

.section1 {
  display: flex;
  margin: 1rem;

}

.section2{
  width: 48%;
  margin: 13rem 1rem 1rem 1rem
}
.section2 .skills{
  width: 100% ;
}
.about,
.work-history {
  width: 50%;
  text-align: justify;
}

.line {
  width: 90%;
  background-color: #ccc;
  height: 3px;
}

.color {
  width: 20%;
  background-color: #000;
  height: 3px;
}

.skills{
display: flex;
}
.skills input{
  width: 40%;
}
.skills-list{
  display: flex;
  flex-wrap: wrap;
}
.skills-list li{
  margin: 5px;
  background-color: #999;
  padding: 5px;
  border-radius: 5px;
}
.section3{
  display: flex;
  margin: 10rem 1rem 1rem 1rem;

}
.section3 .certifications , .section3 .education{
  width: 50%;
}



#skills-main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

#skills-main .input {  
  width: 29%;
}

#skills-main .input input{
  width: 80%;
}

#skills-main h3{
  width: 50%;
}

.experience h3{
  width: 50%;
}

